@import 'src/styles/common';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
  flex-direction: column;

  .cardsContainer {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .controlsExplanation {
      margin-right: 10px
    }

    .formControl {
      width: 200px;
    }
  }
}
